body{
    font-family: 'Inter';
    font-style: normal;
}

h1{
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.05em;
    color: white;
    text-transform: uppercase;
}

h4{
    font-weight: 900;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.15em;
    color: #000000;
    text-transform: uppercase;
}

h5{
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 1.6px;
    color: #000000;
    text-transform: uppercase;

}

p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 1.6px;
    color: #000000;
}

a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color:white
}

a:hover{
    color: #EB6F15;

}

.navbar{
    background: black;
}

.dropdown-menu{
    background: black;
    border: none;
}

.dropdown-item{
    color: white;
    text-transform: none;
}

.dropdown-item:hover{
    background: #EB6F15;
}

.container-home{
    width: 100%;
    height: 100vh;
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar-toggler-icon{
    color: white;
}

.homepage-img{
    width: 100%;
    max-width: 1920px;
    min-height: 100vh;
    background-image: url(/images/homepage.jpg);
    margin-bottom: 50px;
}

.col-max{
    max-width: 288px;
}
.overlay:hover{
    opacity: 70%;
}

.section-one{
    width: 100%;
    min-height: 100vh;
}

.section-two{
    width: 100%;
    min-height: 300px;
}

.container-news{
    width: 100%;
    height: 500px;
}

.placeholder{
    border: 1px solid black;
    margin-right: 10px;
}

.btn-primary{
    background: #EB6F15;
    border: 1px black solid;
    border-radius: 0;
    color: black;
}

.btn-primary:hover{
    background: black;
    color: #EB6F15;
}

.logo{
    font-weight:700;
    letter-spacing: 10px;
    color: #EB6F15;
    margin-right: 40px;
    margin-left: 20px;

}

footer{
    background: black;
    width: 100%;
    height: 200px;
}
